@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  src: local('Inder'), local('Inder-Regular'), url(http://themes.googleusercontent.com/static/fonts/inder/v2/YbjCdZV_1xa60_n0lWZPYA.woff) format('woff');
}
